	
@model RefferedDoctor
@{
	ViewData["Title"] = "Edit";
}
@* <div asp-validation-summary="All"></div> *@

<div class="app-main flex-column flex-row-fluid mt-5 " id="kt_app_main">
	<div class="d-flex flex-column flex-column-fluid">
		<div id="kt_app_content" class="app-content flex-column-fluid">
			<div id="kt_app_content_container" class="app-container container-xxl">
				
	<div class="container-md bg-white" >
	<form class="form fv-plugins-bootstrap5 fv-plugins-framework" asp-controller="RefferedDoctor" method="post" asp-action="Edit"  id="kt_modal_add_customer_form" data-kt-redirect="../../demo1/dist/apps/customers/list.html">
				<!--begin::Modal header-->
				<div class="modal-header mt-5" id="kt_modal_add_customer_header">
					<input type="hidden" asp-for="DrId" />
					<!--begin::Modal title-->
					<h2 class="fw-bold fs-1 p-5 text-black"> Edit Reffered Doctor</h2>
					<!--end::Modal title-->
					<!--begin::Close-->
					<input type="hidden" name="LastUpdateDate" value="@Model.LastUpdateDate" />
				</div>
				<!--end::Modal header-->


				<!--begin::Modal body-->
				<div class="modal-body py-10 px-lg-17">
							<!--begin::Input group-->
					<div class="row g-9 mb-5">
							<!--begin::Col-->
							<div class="col-md-6 fv-row">
								<!--begin::Label-->
								<label class="required fs-6 fw-semibold mb-2">Doctor Name</label>
								<!--end::Label-->
								<!--begin::Input-->
								<input type="text" class="form-control form-control-solid" placeholder="Enter Doctor Name" name="DoctorName" value="@Model.DoctorName" />

							</div>
							<!--end::Col-->
							<!--begin::Col-->
							<div class="col-md-6 fv-row">
								<label class=" fs-6 fw-semibold mb-2">DoctorSpecialization</label>
								<!--end::Label-->
								<!--begin::Input-->
								<input type="text" class="form-control form-control-solid" placeholder="Enter DoctorSpecialization" name="DoctorSpecialization" value="@Model.DoctorSpecialization" />
								<!--end::Input-->
							</div>
							<!--end::Col-->
					</div>
					<!--begin::Input group-->
					<div class="row g-9 mb-5">
							<!--begin::Col-->
							<div class="col-md-6 fv-row">
								<!--begin::Label-->
								<label class=" fs-6 fw-semibold mb-2">PhoneNumber</label>
								<!--end::Label-->
								<!--begin::Input-->
								<input type="text" class="form-control form-control-solid" placeholder="Enter PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" />
								<!--end::Input-->
							</div>
							<!--end::Col-->
							<!--begin::Col-->
							<div class="col-md-6 fv-row">
								<!--begin::Label-->
								<label class=" fs-6 fw-semibold mb-2">ClinicAddress</label>
								<!--end::Label-->
								<!--begin::Input-->
								<input type="text" class="form-control form-control-solid" placeholder="Enter ClinicAddress" name="ClinicAddress" value="@Model.ClinicAddress" />
								<!--end::Input-->
							</div>
					<!--end::Col-->
					</div>
					<!--begin::Input group-->
							<div class="row g-9 mb-10 d-none">
							<!--begin::Col-->
							<div class="col-md-6 fv-row">
								<!--begin::Label-->
								<label class=" fs-6 fw-semibold mb-2" asp-for="LastUpdateBy"></label>
								<!--end::Label-->
								<!--begin::Input-->
								<input class="form-control form-control-solid" placeholder="Enter ClinicAddress" asp-for="LastUpdateBy" />
								<!--end::Input-->
							</div>
							<!--end::Col-->
							<!--begin::Col-->
							<div class="col-md-6 fv-row">
								<!--begin::Label-->
								<label class=" fs-6 fw-semibold mb-2" asp-for="LastUpdateFrom"></label>
								<!--end::Label-->
								<!--begin::Input-->
								<input class="form-control form-control-solid" placeholder="Enter ClinicAddress" asp-for="LastUpdateFrom" />
								<!--end::Input-->
							</div>
							<!--end::Col-->
					</div>
							<!--begin::Modal footer-->
							<div class="modal-footer flex-center mb-10">
								<!--begin::Button-->
								<!--begin::Button-->

								<a asp-action="index" asp-controller="RefferedDoctor" class="btn btn-lg btn-light-primary me-3" data-kt-stepper-action="previous">
									<!--begin::Svg Icon | path: icons/duotune/arrows/arr063.svg-->
									<span class="svg-icon svg-icon-3 me-1">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect opacity="0.5" x="6" y="11" width="13" height="2" rx="1" fill="currentColor" />
											<path d="M8.56569 11.4343L12.75 7.25C13.1642 6.83579 13.1642 6.16421 12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75L5.70711 11.2929C5.31658 11.6834 5.31658 12.3166 5.70711 12.7071L11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25C13.1642 17.8358 13.1642 17.1642 12.75 16.75L8.56569 12.5657C8.25327 12.2533 8.25327 11.7467 8.56569 11.4343Z" fill="currentColor" />
										</svg>
									</span>
									<!--end::Svg Icon-->Back
								</a>
								<!--end::Button-->
								<!--end::Button-->
								<!--begin::Button-->
								<button type="submit" id="kt_modal_add_customer_submit" class="btn btn-primary">
									<span class="indicator-label">Submit</span>
									<span class="indicator-progress">
										Please wait...
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
									</span>
								</button>
								<!--end::Button-->
							</div>
							<!--end::Modal footer-->
						
						
				</div>
					<!--end::Scroll-->
						<!--end::Modal body-->

		</form>
			<!--end::Form-->
		</div>

</div>
</div>
</div>
</div>