@using LAB.Models

@model IEnumerable<VendorContact>
@* 
Summary

- chang Design of Contacts View by (Abdelfath)
- Add Form Of Action Of Add Contact by (Abdelfatah)

*@




<div class="col-xl-12" style="padding:5px 0px">
	<!--begin::List contact-->
	<div class="card card-xl-stretch mb-xl-8">
		<!--begin::Header-->
@* 		<div class="card-header border-0">
			<h2 class="card-title fw-bold text-dark">Contacts</h2>

		</div> *@
	
			
				<!--Add Contract-->
				<a href="#" class="btn btn-primary mb-10 er fs-6 px-8 py-4" data-bs-toggle="modal" data-bs-target="#kt_modal_new_Contact">New Contact</a>
				

			
		
		<!--end::Header-->
		<!--begin::Body-->
		
			@foreach (var item in Model)
			{
			<div class="card mb-10">
				<h2 class="card-header bg-light-dark align-content-center">@item.ContactName</h2>
				<div class="card-body">
					<h3 class="card-title mb-10">Email : @item.ContactEmail</h3>
					<h3 class="card-text mb-10">
						Phone1: 
						<span>@item.ContactTel</span>

					</h3>
					<h3 class="card-text mb-10">
						Phone2:
						<span>@item.ContactTel2</span>
					</h3>
					<a href="/VendorContact/Edit/@item.ContactId" class="btn btn-primary d-flex justify-content-center">Edit</a>
				</div>
			</div>
			
			}
		





<div class="modal fade" id="kt_modal_new_Contact" tabindex="-1" aria-hidden="true">
	<!--begin::Modal dialog-->
	<div class="modal-dialog modal-dialog-centered mw-650px">
		<!--begin::Modal content-->
		<div class="modal-content rounded">
			<!--begin::Modal header-->
			<div class="modal-header pb-0 border-0 justify-content-end">
				<!--begin::Close-->
				<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
					<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
					<span class="svg-icon svg-icon-1">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
							<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
						</svg>
					</span>
					<!--end::Svg Icon-->
				</div>
				<!--end::Close-->
			</div>
			<!--begin::Modal header-->
			<!--begin::Modal body-->
			<div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
				<!--begin:Form-->
				<form id="kt_modal_new_target_form" class="form" method="post" asp-controller="VendorContact" asp-action="Add">
							<!--begin::Heading-->
							<div class="mb-13 text-center">
								<!--begin::Title-->
								<h1 class="mb-3">ADD New Contact</h1>
							</div>
							<!--end::Heading-->
							<!--begin::Input group-->
							<div class="d-flex flex-column mb-8 fv-row">
								<!--begin::Label-->
								<label class="d-flex align-items-center fs-6 fw-semibold mb-2">
									<span class="required">ContactId</span>
								</label>
								<!--end::Label-->
								<input type="text" class="form-control form-control-solid" placeholder="" name="ContactId" value="" />
							</div>
							<!--end::Input group-->
							<div class="d-flex flex-column mb-8 fv-row">
								<!--begin::Label-->
								<label class="d-flex align-items-center fs-6 fw-semibold mb-2">
								<span class="required">ContactName</span>
								</label>
								<!--end::Label-->
								<input type="text" class="form-control form-control-solid" placeholder="" name="ContactName" value="" />
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="d-flex flex-column mb-8 fv-row">
								<!--begin::Label-->
								<label class="d-flex align-items-center fs-6 fw-semibold mb-2">
									<span class="required">ContactEmail</span>
								</label>
								<!--end::Label-->
								<input type="email" class="form-control form-control-solid" placeholder="" name="ContactEmail" value="" />
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="d-flex flex-column mb-8 fv-row">
								<!--begin::Label-->
								<label class="d-flex align-items-center fs-6 fw-semibold mb-2">
									<span class="required">ContactTel</span>
								</label>
								<!--end::Label-->
								<input type="text" class="form-control form-control-solid" placeholder="" name="ContactTel" value="" />
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="d-flex flex-column mb-8 fv-row">
								<!--begin::Label-->
								<label class="d-flex align-items-center fs-6 fw-semibold mb-2">
									<span class="required">ContactTel2</span>
								</label>
								<!--end::Label-->
							<input type="text" class="form-control form-control-solid" placeholder="" name="ContactTel2" value="" />
							</div>
							<!--end::Input group-->
						@* 	<div>
							<label>ContactVendor</label>
							<select class="form-control" name="ContactVendorId" id="ContactVendorId">
							@foreach (var item in Model.ToList())
									{
											<option value="@item.ContactVendorId" selected> @item.ContactVendorId</option>
										
									}
								</select>
							</div> *@
							<!--begin::Actions-->
							<div class="text-center">
								<button type="reset" id="kt_modal_new_target_cancel" class="btn btn-light me-3">Cancel</button>
								<button type="submit" id="kt_modal_new_target_submit" class="btn btn-primary">
									<span class="indicator-label">Submit</span>
									<span class="indicator-progress">
										Please wait...
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
									</span>
								</button>
							</div>
							<!--end::Actions-->
			</form>
					
				<!--end:Form-->
			</div>
			<!--end::Modal body-->
		</div>
		<!--end::Modal content-->
	</div>
	<!--end::Modal dialog-->
</div>
<!-- end::Modal - New Target-->
